*.exe
*.o
*.out
.vscode
.c.deps
.cxx.deps
log
*.a
*.so
.c.objs
.cxx.objs
.DS_Store
core
perf*
kv
.idea
btree
evaluation/kvstore/tools/index-microbench/data/*
evaluation/kvstore/tools/index-microbench/data_lib/*
evaluation/kvstore/tools/index-microbench/workloads/*
index/data/*
